/* .message{
    width: 400px;
} */
.header{
    text-align: center;
}
.chatbox{
    flex: 1;
    flex-shrink: 100;
    /* width: 33%; */
    padding-left: 10px;
    padding-right: 20px;
}

.message{
    width: 70%;
}

.btnsend{
    width: 30%;
}