.editor{
    flex: 1;
    /* width: 33%; */
    padding-left: 10px;
    padding-right: 10px;
}
.textArea{
    height: 440px;
    width: 100%;
}
.run{
    width: 50%;
}

.submit{
    width: 50%;
}

.header{
    text-align: center;
}