.CreateRoomPopup{
    display: flex;
    margin-top: 100px;
    margin-left: 560px;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color:darkgray;
}

.Difficuilty{
    display: flex;
    flex-direction: column;
}

.Duration{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}